html,body{
	height: 100%;
	width: 100%;
  font-family: 'Roboto', sans-serif;
  color: var(--most-of-color-text);
  font-size: 14px;
  background-color: var(--background-light);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
/*Обнулення*/
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  padding: 0;
  margin: 0;
  font-size: inherit;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

/*--------------------*/

button {
  border: none;
}
/* --------------------------- */
ul {
  list-style-type: none;
}

/* Скритий елемент сторінки */
.features .page-title,
.category-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

a {
  text-decoration: none;
}
/* ----------Ширина-контенту---------------------- */
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

/* ---------Колір лого------------- */
:root {
  --brend-color: #0073ff;
  --most-of-color-text: #757575;
  /* ---------колір-тексту-світлий--- */
  --header-color-light: #ffffff;
  --title-light: #ffffff;
  --logo-light: #ffffff;

  /* ---------колір-тексту-темний--- */
  --header-color-dark: #212121;
  --title-dark: #212121;
  --logo-dark: #000000;

  /* ---------колір-фону-світлий--- */
  --background-light: #ffffff;
  --background-team-light: #f5f4fa;
  /* ---------колір-фону-темний--- */
  --background-dark: ;
  --background-team-dark: #2f303a;
}

/* -------------page-title------------------------- */

.page-title {
  font-size: 36px;
  line-height: calc(42 / 36 * 100%);
  color: var(--title-dark);
  text-align: center;
  margin: 0 0 50px 0;
}
/* ------------------------------------------- */
.header {
  background-color: var(--header-color-light);
}

.header > .container {
  display: flex;
  align-items: center;

  min-height: 83px;
}
.logo {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26 * 100%);
  text-decoration: none;
  color: var(--logo-dark);
}
.logo > .accent {
  color: var(--brend-color);
}
.header-menu {
  margin-left: 93px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.header-list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  row-gap: 20px;
}
.header-item {
}
.header-link {
  padding: 10px 0;
  font-weight: 500;
  line-height: calc(16 / 14 * 100%);
  letter-spacing: 0.02em;
  color: var(--header-color-dark);
}

.header-link:hover,
.header-link:focus {
  color: var(--brend-color);
}
.header-address {
  padding: 0 0 0 20px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 25px;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header-address a {
  font-weight: 500;
  line-height: calc(16 / 14 * 100%);
  letter-spacing: 0.02em;
  color: inherit;
  display: flex;
  align-items: center;
}
.header-address a:hover,
.header-address a:focus {
  color: var(--brend-color);
}

.header-address a::before {
  content: "";
  display: inline-block;
  margin-right: 10px;
}
.header-address a:nth-child(1)::before {
  background-image: url(../image/icon/header/envelope.png);
  width: 16px;
  height: 12px;
} 
.header-address a:nth-child(2)::before {
  background-image: url(../image/icon/header/smartphone.png);
  width: 10px;
  height: 16px;
} 
/* ---------------------------- */
.page {
  flex-grow: 1;
}

/* ------------hero---------------- */
.hero {
  background-color: #2f303a;
  text-align: center;
  display: block;
  background-image: url(../image/hero/hero.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.hero .container {
  padding: 200px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44 * 100%);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-light);
  margin: 0 0 30px 0;
  max-width: 696px;
}
.hero-btn {
  display: flex;
  min-height: 50px;
  padding: 0 32px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 14 * 100%);
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.hero-btn:hover {
  background-color: #188ce8;
}

/* ---------------------------- */
.features {
  padding: 94px 0;
}
.features-list {
  display: flex;
  margin: 0 -15px;
  flex-wrap: wrap;
  row-gap: 50px;
}
.features-item {
  padding: 0 15px;
  flex: 0 1 25%;
}
.features-item-title {
  font-weight: 700;
  line-height: calc(16 / 14 * 100%);
  text-transform: uppercase;
  color: var(--title-dark);
  margin-bottom: 10px;
}
.features-item > p {
  font-weight: 400;
  line-height: 24px;
}

/* -------------box--------------- */
.box {
  padding: 0 0 94px 0;
}
.box-list {
  display: flex;
  margin: 0 -15px;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 30px;
}
.box-item {
  padding: 0 15px;
}
/* ------------team---------------- */
.team {
  background-color: var(--background-team-light);
  padding: 94px 0;
}
.team-list {
  display: flex;
  margin: 0 -15px;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 30px;
}
.team-item {
  padding: 0 15px;
}

.team-column {
  background-color: var(--background-light);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  padding: 0 0 30px;
    text-align: center;
}
.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16 * 100%);
  color: var(--title-dark);
  margin: 30px 0 10px 0;

}
.team-item > p {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16 * 100%);
}

/* --------------------Portfolio--------------------------------------------- */
.category {
  padding: 94px 0;
}
.category-title {
}
.category-btn {
  margin: 0 0 50px 0;
}
.btn-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  row-gap: 8px;
  flex-wrap: wrap;
}
.btn-item {
}
.btn {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16 * 100%);
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
}

.btn:active,
.btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* ----------------------- */
.category-columns {
  display: flex;
  margin: 0 -15px;
  row-gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.category-column {
}
.column {
  padding: 0 15px;
  flex: 0 1 33.33333333%;
  min-width: 370px;
  display: flex;
}

.column-link {
  display: block;
  border: 1px solid #EEE;
  background-color: var(--background-light);
}
.column-image {
  max-width: 100%;
}
.column-text {
  padding: 20px 24px;
}
.column-title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18 * 100%);
  letter-spacing: 0.06em;
  color: var(--header-color-dark);
}
.column-subtitle {
  font-size: 16px;
  line-height: calc(30 / 16 * 100%);
  color: var(--most-of-color-text);
}

/* ---------------------------- */
.footer {
  background-color: #2f303a;
  padding: 60px 0 90px 0;
}
.footer .logo {
  margin: 0 0 20px 0;
}

.footer-address > p {
  font-weight: 400;
  line-height: calc(24 / 14 * 100%);
  color: #ffffff;
  margin: 0 0 9px 0;
}
.footer-address > a {
  font-weight: 400;
  color: inherit;
  line-height: calc(24 / 14 * 100%);
}

.test-list {
  background-color: lightsalmon;
  max-width: 1200px;
  height: 700px;
  align-items: center;
  margin: 20px;
  outline: 5px solid rgb(177, 93, 72);
  padding: 80px 0;
  display: flex;
  flex-wrap: wrap;
}

.test-link {
  background-color: lightseagreen;
  width: 150px;
  height: 150px;
  outline: 2px solid lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  color: chartreuse;
}
